$lightBlue: #6FB3F8;
$darkBlue: #4C7BAB;
$darkGray: #262626;
$gray: #262626;
$lightGray: #313131;
$lighterGray: #3A3A3A;

$textGray: #AFAFAF;

$shadowColor: #1b1b1b;

$statusOnline: #2BB069;
$lightGreen: #69D795;
$linkGreen: #90D4CC;
$speakingColor: $lightGreen;