.login-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../images/bg.gif);
  .blur-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
  }
  
  .logo {
    position: absolute;
    left: 50px;
    top: 70px;
    color: white;
    display: block;
    width: 200px;
    user-select: none;
  }
  .right {
    position: absolute;
    top: 0px;
    right: 0px;
    backdrop-filter: blur(20px);
    background-color: rgba(66, 66, 66, 0.274);
    height: 100%;
    width: 300px;
    border-left: 1px solid rgb(78, 78, 78);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
      color: white;
      font-size: 40px;
      height: 40px;
      font-weight: bold;
      margin-bottom: 10px;
      .swap-wrap {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        .in, .up {
          transition: 0.3s;
        }
        .in {
          height: 100%;
          overflow: hidden;
        }
        .up {
          height: 0%;
          opacity: 0;
        }
      }
    }
    .input-wrapper {
      overflow: hidden;
      transition: 0.3s;
    }
    input {
      width: 100%;
      padding: 8px 10px;
      color: lightgray;
      display: block;
      margin: 10px 0px;
      outline: none;
      background-color: rgba(66, 66, 66, 0);
      border: 1px solid rgb(175, 175, 175);
      border-radius: 15px;
      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }
    .form-nickname-wrapper {
      width: 100%;
      height: 0px;
      transition: 0.3s;
      overflow: hidden;

      input:first-child {
        margin-top: 0px;
      }
    }
    .small {
      color: rgb(175, 175, 175);
      font-size: 12px;
      margin-left: 5px;
      overflow: hidden;
      transition: 0.3s;
      .sign {
        color: white;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .login {
      position: relative;
      display: block;
      margin-top: 20px;
      border: 0px;
      background-color: $lightBlue;
      font-family: 'Inter', sans-serif;
      padding: 10px 25px;
      color: white;
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
      box-shadow: 1px 1px 7px 1px #252525;
      transition: transform 0.3s;
      overflow: hidden;

      &:hover {
        transform: scale(1.05);
        .background {
          width: calc(100% + 20px);
        }
      }
      &:active {
        transition: 0.1s;
        transform: scale(1);
      }

      .background {
        position: absolute;
        left: -10px;
        top: 0px;
        width: 0%;
        height: 100%;
        background-color: $darkBlue;
        transition: 0.3s;
        transform: skew(-15deg);
      }

      .text {
        position: relative;
        z-index: 20;
      }
    }
  }
}