.main-screen-container {
  $topBarHeight: 40px;

  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  .top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $topBarHeight;
    background-color: $lightGray;
    -webkit-app-region: drag;
    user-select: none;
  }

  .main-wrapper {
    position: absolute;
    top: $topBarHeight;
    left: 0px;
    width: 100%;
    height: calc(100% - #{$topBarHeight});
    padding: 10px 0px;
    display: flex;
    gap: 10px;

    $panelRadius: 15px;

    .left-panel, .middle-panel, .right-panel {
      height: 100%;
      background-color: $gray;
      position: relative;
    }
    .left-panel {
      width: 300px;
      border-radius: 0px $panelRadius $panelRadius 0px;
    }
    .middle-panel {
      $inputWrapperHeight: 60px;

      width: 100%;
      border-radius: $panelRadius;
      background-color: unset;
      .messages-wrapper {
        width: 100%;
        height: calc(100% - #{$inputWrapperHeight});
        overflow-y: auto;

        .tile {
          $avatarSize: 50px;

          width: 100%;
          background-color: $lighterGray;
          border-radius: 15px;
          overflow: hidden;
          padding: 10px;
          margin-bottom: 10px;
          .avatar-wrap {
            width: $avatarSize;
            height: $avatarSize;
            display: inline-block;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 15px;
            }
          }

          .right {
            width: calc(100% - #{$avatarSize});
            padding-left: 10px;
            display: inline-block;
            vertical-align: top;
            .top {
              width: 100%;
              .nick {
                color: wheat;
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
              }
              .time {
                font-size: 12px;
                color: gray;
                display: inline-block;
                margin-left: 5px;
              }
            }

            .content-wrapper {
              color: rgb(233, 233, 233);
              word-break: break-word;
              white-space: pre-wrap;

              .content-container {
                position: relative;

                .date {
                  position: absolute;
                  top: 0px;
                  left: -35px;
                  font-size: 12px;
                  color: rgb(175, 175, 175);
                  background-color: $lighterGray;
                  overflow: hidden;
                  white-space: nowrap;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  transition: 0.2s;
                  opacity: 0;
                }

                &:nth-child(n + 3):hover {
                  .date {
                    opacity: 1;
                    left: -40px;
                  }
                }
              }
            }
          }
        }
      }
      .input-wrapper {
        width: 100%;
        height: $inputWrapperHeight;
        border-radius: $panelRadius;
        background-color: $gray;
        padding: 10px;
        .message-input {
          width: 100%;
          height: 100%;
          background-color: $lightGray;
          border: 0px;
          border-radius: calc(#{$panelRadius} - 5px);
          outline: none;
          padding: 0px 10px;
          padding-top: 12px;
          color: rgb(216, 216, 216);
          resize: none;
          font-family: 'Inter', sans-serif;
        }
      }
    }
    .right-panel {
      width: 400px;
      border-radius: $panelRadius 0px 0px $panelRadius;
    }
  }
}