@import 'colors';
@import 'titlebar';
@import 'login';
@import 'main-screen';

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inter', sans-serif;
  background-color: $darkGray;
}

::placeholder {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $lightGray;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

* {
  box-sizing: border-box;
}