@import 'colors';
@import 'global';
@import 'titlebar';
@import 'login';
@import 'main-screen';

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inter', sans-serif;
  background-color: $darkGray;
}

::placeholder {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(82, 82, 82);
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background: transparent;
}

* {
  box-sizing: border-box;
}